flask
python-dotenv
flask_sqlalchemy
python-dateutil
flask_wtf

requests
gunicorn
pymongo[srv]

certifi
chardet
charset-normalizer
httplib2
idna
pycurl
pyparsing
PySimpleSOAP
#python-apt
#python-debian
#python-debianbts
reportbug
six
urllib3
