{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <div id="income_vs_expense_canvas"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <div id="expense_vs_category_canvas"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <div id="overtime_expenditure_canvas"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const income_vs_expense_options = {
        // Container: HTML Element to hold the chart
        container: document.getElementById('income_vs_expense_canvas'),
        title: {text: 'Income vs Expense'},
        // Data: Data to be displayed in the chart
        data: JSON.parse( {{ income_vs_expense_data | tojson }} ),
        // Series: Defines which chart type and data to use
        series: [
            {
                type: 'area',
                xkey: 'date',
                ykey: 'total',
            }
        ],
    };

    const expense_vs_category_options = {
        // Container: HTML Element to hold the chart
        container: document.getElementById('expense_vs_category_canvas'),
        title: {text: 'Expenses by Category'},
        // Series: Defines which chart type and data to use
        series: [
            {
                data: JSON.parse( {{ income_category_data | tojson }} ),
                type: 'pie',
                angleKey: 'total',
                sectorLabelKey: 'category',
                outerRadiusRatio: 0.8,
                innerRadiusRatio: 0.6,
                fillOpacity: 0.5,
            },
            {
                data: JSON.parse( {{ income_category_data | tojson }} ),
                type: 'pie',
                angleKey: 'total',
                sectorLabelKey: 'category',
                outerRadiusRatio: 0.6,
                innerRadiusRatio: 0.4,
                fillOpacity: 0.5,
            },
        ],
    };

    const overtime_expenditure_options = {
        // Container: HTML Element to hold the chart
        container: document.getElementById('overtime_expenditure_canvas'),
        title: {text: 'Expense over Time'},
        // Data: Data to be displayed in the chart
        data: JSON.parse( {{ over_time_expenditure | tojson }} ),
        theme: {
            overrides: {
                line: {
                    series: {
                        lineDash: [12, 3],
                        marker: {
                            enabled: false,
                        },
                    },
                },
            },
        },
        // Series: Defines which chart type and data to use
        series: [
            {
                type: 'line',
                xKey: 'date',
                yKey: 'total'
            }
        ],
    };

    const chart_1 = agCharts.AgCharts.create(income_vs_expense_options);
    const chart_2 = agCharts.AgCharts.create(expense_vs_category_options);
    const chart_3 = agCharts.AgCharts.create(overtime_expenditure_options);
</script>

{% endblock %}
