{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-10 col-sm-6 md:w-1/2 pr-4 pl-4">
    <h2>Import Transactions</h2>
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 card-style mb-2">
        <div class="flex-auto p-6">
            <form action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4">Expenses And Incomes</legend>

                    <div class="form-group border-bottom pb-3">
                        {{ form.submit(class="btn btn-outline-info")}}
                    </div>

                    <div class="form-group">
                        {{ form.bulk_data.label(class = "form-control-label") }}
                        {{ form.bulk_data(class = "form-control rows=100") }}
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
