<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/dist/ag-grid-enterprise.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/ag-charts-community/dist/umd/ag-charts-community.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise/dist/umd/ag-charts-enterprise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {%- block scripts -%}
    {%- endblock -%}

    {%- if title -%}
        <title>Personal Budget - {{ title }}</title>
    {%- else -%}
        <title>Personal Budget</title>
    {%- endif -%}
</head>

<body >
    <div class="w-screen">
        <div class="flex flex-wrap">
            <div class="w-screen">
                <header class="mb-1">
                    <nav class="relative flex flex-wrap items-center content-between py-2 px-3 text-white bg-gray-900">
                        <a class="inline-block py-1 mr-4 text-xl no-underline hover:no-underline whitespace-no-wrap" href="{{ url_for('bp_dashboard.dashboard') }}">Personal Budget Tracker</a>
                        {% if start_date is defined %}
                        <form class="inline-block py-1 " method="POST">
                            <label for="start_date"></label>
                            <input class="mx-1" type="month" id="start_date" name="start_date" value="{{ start_date }}" required onchange="this.form.submit()" />
                            <label for="end_date" class="mb-0"> To </label>
                            <input class="mx-1" type="month" id="end_date" name="end_date" value="{{ end_date }}" required onchange="this.form.submit()" />
                        </form>
                        {% endif %}
                        <div class="flex-grow" id="navbarNavAltMarkup">
                            <div class="flex flex-wrap justify-end pl-0 mb-0 mx-1">
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp_budget.budget') }}">Budget</a>
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp_balances.balances') }}">Accounts</a>
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp_transactions.transactions_view') }}">Transactions</a>
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp.add_expense') }}">Add</a>
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp.import_expense') }}">Import</a>
                                <a class="inline-block py-2 px-2 no-underline hover:no-underline" href="{{ url_for('bp_categories.categories') }}">Categories and Rules</a>
                                <button class="inline-block py-2 px-2 hover:text-[#0056b3]" id="link-button">Plaid</button>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <div class="flex flex-wrap  justify-center">
            {% with messages = get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
        (async function($) {
        var handler = Plaid.create({
            // Create a new link_token to initialize Link
            token: (await $.post('/api/create_link_token')).link_token,
            onLoad: function() {
            // Optional, called when Link loads
            },
            onSuccess: function(public_token, metadata) {
            // Send the public_token to your app server.
            // The metadata object contains info about the institution the
            // user selected and the account ID or IDs, if the
            // Account Select view is enabled.
            $.post('/api/set_access_token', {
                public_token: public_token,
            });
            },
            onExit: function(err, metadata) {
            // The user exited the Link flow.
            if (err != null) {
                // The user encountered a Plaid API error prior to exiting.
            }
            // metadata contains information about the institution
            // that the user selected and the most recent API request IDs.
            // Storing this information can be helpful for support.
            },
            onEvent: function(eventName, metadata) {
            // Optionally capture Link flow events, streamed through
            // this callback as your users connect an Item to Plaid.
            // For example:
            // eventName = "TRANSITION_VIEW"
            // metadata  = {
            //   link_session_id: "123-abc",
            //   mfa_type:        "questions",
            //   timestamp:       "2017-09-14T14:42:19.350Z",
            //   view_name:       "MFA",
            // }
            }
        });

        $('#link-button').on('click', function(e) {
            handler.open();
        });
        })(jQuery);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
</body>

</html>
