{% extends 'layout.html' %}
{% block content %}

    <div id="table" class="ag-theme-quartz-dark" style="width: 95vw; height: 85vh"></div>
    <script>
        const gridOptions = {
            autoSizeStrategy: {type: 'fitCellContents'},
            pagination: true,
            editType: 'fullRow',
            defaultColDef: {
                editable: true,
                filter: true,
                floatingFilter: true
            },
            // Row Data: The data to be displayed.
            rowData: [
                {% for entry in entries %}
                    {
                        index: '{{ entry.id }}',
                        date: '{{ entry.date }}',
                        description: '{{ entry.description }}',
                        amount: '{{ entry.amount }}',
                        type: '{{ entry.type }}',
                        category: '{{ entry.category }}',
                        account: '{{ entry.account }}',
                        bank: '{{ entry.bank }}',
                    },
                {% endfor %}
            ],
            // Column Definitions: Defines & controls grid columns.
            columnDefs: [
                { field: 'index', filter: false, editable: false },
                { field: 'date', cellEditor: 'agDateStringCellEditor'},
                { field: 'description', flex: 3},
                { field: 'amount', flex: 1, valueFormatter: (params) => { return '$' + params.value.toLocaleString(); }},
                { field: 'type', cellEditor: 'agSelectCellEditor', cellEditorParams: {
                    values: ['credit', 'debit']
                }},
                { field: 'category', cellEditor: 'agSelectCellEditor', cellEditorParams: {
                    values:  {{ categories }}
                }},
                { field: 'account', flex: 1.5},
                { field: 'bank', flex: 2},
            ],
            onRowValueChanged: onRowValueChanged,
        };

        function onRowValueChanged(event) {
            var data = event.data;
            console.log('onRowValueChanged: ('+data+')')
            $.post("/transactions", function( data ){
                javascript_data: data
            });
        }

        const myGridElement = document.querySelector('#table');
        agGrid.createGrid(myGridElement, gridOptions);

        </script>

{% endblock %}
